.location {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 4px solid black;
    font-family: var(--textFont);
    font-size: 10px;
    font-family: var("--headerFont");
}

.location__component {
    display: flex;
    flex-direction: column;
    width: 33%;
    font-size: 20px;
    align-items: center;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

.location__img {
    width: 600px;
    height: 400px;
}

.location__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.location__content h3 {
    display: flex;
    justify-content: center;
    font-size: 26px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.location__content hr {
    color: red;
    width: 100px;
    margin-bottom: 20px;
}

.location__content p {
    display: flex;
    justify-content: center;
    font-size: 23px;
    margin: 50px;
}